<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colored Notes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://sortablejs.github.io/sortablejs/Sortable.js"></script>
  <script style="text/javascript" src="https://sortablejs.github.io/sortablejs/st/prettify/prettify.js"></script>
  <script src="https://sortablejs.github.io/sortablejs/st/app.js"></script>
  <%= javascript_pack_tag 'application'%>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 150%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    form.button_to {
      display: inline;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/users/<%= session[:user_id]%>" style="background-color: white" data-toggle="tooltip" title="User">
        <i class="fa fa-user-circle" style="font-size:22px"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li name="tab"><a href="/" data-toggle="tooltip" title="Home"><i class="fa fa-home" style="font-size:22px"></i></a></li>
        <li name="tab">
          <a href="/users/<%= session[:user_id]%>/notes" title="List Notes">
            <img class="gb_ua gb_ie" src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png 2x " alt aria-hidden="true" style="width:26px;height:24px">
          </a>
        </li>
        <li name="tab"><a href="/users/<%= session[:user_id]%>/notes/archive_index" title="Archive"><i class="fa fa-archive" style="font-size:22px"></i></a></li>
        <li name="tab"><a href="/users/<%= session[:user_id]%>/notes/note_participated"><i class="fa fa-users" style="font-size:22px"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/users/<%= session[:user_id]%>/notes/search" style="margin-top: -13px;">
            <label for="search"></label>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search" style="width: 300px;">
          </form>
        </li>
        <% if current_user.nil? %>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>
          <li><a href='/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <% if !Tag.where(user_id: session[:user_id]).empty?%>
        <% Tag.where(user_id: session[:user_id]).each do |tag| %>
          <p><a><%= link_to tag.tag_name, select_tag_user_notes_path(@current_user, tag_id: tag.id) %></a></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-8 text-left"> 
      <%= yield %>
      
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <% if !@current_user.nil?%>
    <p><%= @current_user.email%></p>
  <% end %>
</footer>
</body>
</html>

<script>
  $(document).ready(function() {
    $('li[name="tab"]').on('click', function(event) {
      $('li[name="tab"]').removeClass('active');
      $(event.target).parent().addClass('active');
    })
  });
</script>